<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Player Name and Year
    <form action='/' method='post'>
    <input type='text' name='playerName' placeholder='Player Name' value=''>
    <input type='text' name='playerClass' placeholder='Class(1=Freshman-4=Senior)' value=''>
    <input type="text" name="playerTeam" placeholder="What Team?" value="">
    <input type='submit' value='Submit'>
    </form>
  </body>
</html>
