<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <p> Removed <%= playerName %></p>
  <p><a href="teams"><button type="button" name="Teams" onclick="/teams">Teams</button></a></p>
</body>

</html>
